.App {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  height: 100%;
}
#main-container-title{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: slaytanic, Arial;
  font-size: 8em;
}

#title{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
#title:hover{

  transform: scale(1.05);
  transition: all .1s ease-out;
}

#home-page-options{
  width: 100%;
  padding: 5em;
}

#join-public-room {
  width: 100%;
  text-align: center;
}

#join-public-room button:hover {
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,.2);
  transform: scale(1.1);
  transition: all .1s ease-out;
}

#create-public-room{
  width: 100%;
  text-align: center;

}

#create-public-room button:hover {

  box-shadow: 3px 3px 5px 2px rgba(0,0,0,.2);
  transform: scale(1.1);
  transition: all .1s ease-out;
}

#create-private-room{
  width: 100%;
  text-align: center;
}

#create-private-room button:hover {
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,.2);
  transform: scale(1.1);
  transition: all .1s ease-out;
}

.main-btn {
  width: 15em;
  background-color: white;
  padding: 1em;
  font-size: 1em;
  margin: 1em;
}

#public-room-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.roomList-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.roomList{
  width: 30%;
  text-align: center;
  font-size: 1.5em;
  margin: 0.2em;
  border: solid black 2px;
  padding: 0.5em;
}

.roomList:hover{
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,.2);
  transform: scale(1.075);
  transition: all .1s ease-out;
}

#room-title-container{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: slaytanic, Arial;
  
}

#room-title{
  font-size: 5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#room-title:hover{
  transform: scale(1.1);
  transition: all .1s;
}

#drum-grid{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#control-panel{
  width: 100%;
  display: flex;
  justify-content: center;
}
.control-btn{
  height: 3em;
  width: 3em;
  margin: 0.5em;
}
.control-btn:hover{

}
#bpm{
  width: 3em;
  text-align: center;
  font-size: 1.5rem;
}
.instrument{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
.drum-box{
  height: 2em;
  width: 2em;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-top: solid black 4px;
  border-bottom: solid black 4px;
}

.drum-box:hover{
  background-color: grey;
}
.first{
  border-left: solid black 4px;
}
.fourth{
  margin-right: 0.35em;
  border-right: solid black 4px;
}
.last{
  border-right: solid black 4px;
}
.add-sample{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  flex-wrap: wrap;
  width: 6em;
}
.sample-icon{
  height: 3em;
  width: 3em;
  margin-bottom: 0.5em;

}
.add-sample:hover{
  background-color: #ff9300;
}
.add-sample-descrip{
  width: 100%;
  text-align: center;
}

.highlighted{
  transform: scale(1.2);
}

.clicked{
  background-color: #00b341;
}
#error-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
#error-msg{
  padding: 1em;
  font-size: 2em;
}


#bottom-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;

}

#copy-link-container{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#copy-link-text{
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  font-weight:  bold;
}

#copy-link-window{
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  border-radius: 15px;
  border:  solid 2px;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  padding: 0.25em;
}